
.about-container{
    display: grid;
    place-items: center;
    width: 100%;
    padding: 1em;
}
.about{
    display: grid;
    width: min(100%, 900px);
    grid-template-columns: repeat(2, 1fr);
}
.about-heading{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1em;
    color: var(--accent);
}
.about-content{
    text-align: justify;
}