
.about-container{
    display: grid;
    place-items: center;
    width: 100%;
    padding: 1em;
    margin: 2em 0;
    min-height: 60vh;

}
.about{
    display: grid;
    width: min(100%, 1200px);
    grid-template-columns: repeat(2, 1fr);
}
.about-heading{
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 1em;
    /* color: var(--accent); */
    color: white;
}
.about-content{
    /* background-color: ; */
    background-color: #050025be;
    border: 1px solid var(--accent);
    border-radius: 0.5em;

    text-align: justify;
    padding: 2em 1em;
}