.editContainer {
    background: white;
    min-height: 80vh;
    position: relative;

}

#card {

    min-width: 300px;
    width: 100vw;
    border-radius: 6px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
    /* overflow: hidden; */
    position: absolute;
    /* z-index: -1; */
}

model-viewer {
    width: 100vw;
    height: 100vh;
    /* background-color: #70bcd1; */
    background-image: url(../../../svgs//dots.svg);
    /* backdrop-filter: blur(2.3px); */
    /* opacity: 0.1; */
    /* --poster-color: #ffffff00; */
}

.modelContaier {
    position: relative;
    z-index: -1;
}

.editViewGroup {
    display: flex;
    justify-content: space-between;
    padding-block: 2em;
    position: absolute;
    z-index: 100;
    height: fit-content;
    top: 0;
}

.editBar {
    border-radius: 0.5rem;
    border: 2.4px solid #9747FF;
    background: #020518;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.06);
    height: 80vh;
    width: 16em;
    padding: 2%;
    position: absolute;
    z-index: 100;
}
.editBar.left{
    left: 10px;
    top: 10vh;
}
.editBar.right{
    right: 10px;
    top: 10vh;
}
.editBar h2 {
    color: white;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 1em;
}


@media screen and (max-width: 768px) {
    .editBar {
        display: none;
    }

    .editViewGroup {
        display: none;
    }
}
