.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    gap: 1em;
}
.hero-logo{
    display: flex;
    align-items: center;
    gap: 1em;
    height: 15em;
    padding: 1em;
}
.hero-logo svg{
    height: 100%;
    width: auto;
}
.hero-logo-text{
    font-size: 8em;
    font-weight: 700;
}
.hero-description{
    text-align: center;
    width: 80%;
}
.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button-group{
    
    display: flex;
    padding: .5em 0.75em;
    /* gap: .5em; */
    gap: 1em;
    border: none;
    /* width: max-content; */
    background-color: var(--light-background);
    border-radius: .5em;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    border: 2px solid var(--accent);
    padding: .75em 1.5em;
    border-radius: .5em;
}
.divider{
    width: 2px;
    height: inherit;
    background-color: var(--accent);
    border-radius: 32px;
}
.button.hero-button{
    background: transparent;
    color: var(--white);
    font-weight: 400 ;
    font-size: 18px;
}

@media (hover: hover){
    .button:hover, .button:focus{
        background-color: var(--accent);
        /* color: var(--light-background); */
        border: 2px solid #9747FF;
        background: rgba(135, 64, 232, 0.30);
    }

}
/* Media Querires for hero font */
@media screen and (max-width:900px) {
    .hero-logo{
        height: 12em;
    }
    .hero-logo-text{
        font-size: 7em;
    }
}
@media screen and (max-width:750px) {
    .hero-logo{
        height: 10em;
    }
    .hero-logo-text{
        font-size: 6em;
    }
}
@media screen and (max-width:600px) {
    .hero-logo{
        height: 8em;
    }
    .hero-logo-text{
        font-size: 4em;
    }
}
@media screen and (max-width:450px) {
    .hero-logo{
        height: 7em;
    }
    .hero-logo-text{
        font-size: 3em;
    }
}
