.tool-container {
    display : grid;
    place-items : center;
    padding: 15vh 1em 0;
}
.tool {
    display : grid;
    grid-template-areas: "search search"
                         "map flow-container";
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr auto;
    gap: 1em;
}
.search-form {
    grid-area : search;
    display: flex;
    gap: 1em;
}
.search-form .text-input {
    width: 100%;
    padding: 1em;
    border-radius: 1em;
    background-color: var(--light-background);
    border: none;
    color: var(--white);
}
.button{
    background-color: var(--accent);
    border: none;
    border-radius: 1em;
    padding: 1em;
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
}
.map {
    grid-area : map;
    background-color: red;
}
.flow-container {
    grid-area : flow-container;
    /* background-color: blue; */
    padding: 1em;
}

.search{
    display: flex;
    height: 100%;
    width: 100%;
}
.map{
    display: flex;
    width: 100%;
    min-width: 30em;
}
.flow-container{
    display: flex;
}
